body {
    font-family:'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: #e3e7eb,
}

h1 {
    text-align: center;
    color: #200120;
}

form {
    max-width: 600px;
    margin: auto;
    background-color: #fcf7fd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(109, 2, 112, 0.5);
    padding: 20px;
}

fieldset {
    border: 2px solid #2a0733;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(238, 177, 247);
}

legend {
    font-weight: bold;
    text-align: left;
    color: #050007;
}

label{
    display: block;
    margin-top: 10px;
    color: #260229;

}

input,textarea {

    width: calc (100% - 1px);
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #e1b7f5;
    border-radius: 4px;
    box-sizing: border-box;
}

button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(225, 182, 245);
    color: black;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;

}

button:hover {
    background-color: #d590f0;
}

#resumeOutput {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid #2a0733;
    border-radius: 8px;
    background-color: #d590f0;
    box-shadow: 0 4px 8px rgba(109, 2, 112, 0.5);

}

#resumeOutput h2 {
    color:rgb(238, 177, 247);

}

.profilePicture {
    display: block;
    margin: 0 auto;
    border: 2px solid #d590f0 ;
    box-shadow: 0 4px 8px rgba(109, 2, 112, 0.5);
    border-radius: 500%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}